ul {
  list-style-type: circle;
}

ol {
  list-style: decimal;
}

h1 {
  background-color: blueviolet;
  width: fit-content;
}

div {
    display: inline-block;
  background-color: aqua;
  width: 200px;
}

a {
    display: inline-block;
  background-color: chartreuse;
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

span{
border: 1px dashed blue;
font-size: large;
font-family: cursive;
font-weight: 700;


/* 
.sub{
    border: 3px dotted red;
}
ul > ul > li{
    border: 3px dotted red;
} */
